body{
    overflow:scroll;
}
 .nav__li {
    display: inline-block;
 }

header {
   background: rgb(0,0,0);
}
.nav__li a {
font-size: 1.5em;
font-family: 'Satisfy', cursive;
text-decoration: none;
color: rgb(255,255,255);
padding-left: 5px;
padding-right: 5px;
background-color: rgb(200,200,200);
border-radius: 3em;
border: 5px solid rgb(200,200,200);
margin: 10px;
}

.nav__title .title b {
    border : 3px solid rgb(200,200,200);
      border-radius: 3px;
      padding: 5px;
      margin-left: 50%v;
   }
.nav__ul {
    display: inline-block;
    padding-left: 20px;

}
.nav{
    width: 100vw;
    background-color: #000;
}   

.title  {
   font-size: 3em;
   font-family: 'Satisfy', cursive;
   color: rgb(255,255,255);
   background-color: black;
   
}
.nav__title {
    display: inline-block;
    box-sizing: content-box;

}


.nav__responsive-ul {
    display: none;
    width: 100%;
    
}
.nav__responsive-buttom-container {
    width: 100vw;
    height: 45px;
    background-color: aqua;
    position: absolute;
    margin-top: -90px;
    z-index: 100;
    
}
.nav__responsive-buttom{
    font-size: 25px;
    color: rgba(255,255,255,0.8);
    float: right;
    padding: 10px 20px;
}

    

.nav__responsive-li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    color: rgba(255,255,255,0.8);
    padding: 1px 30px;
}


@media only screen and (max-width: 1250px) {
    .nav {
        height: 45px;
        width: 100%;
        }
    .nav__ul {
        display: none;
        }   
    .nav__responsive-ul {
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #000;
        margin-top: 45px;
        padding-top: 45px;
        
        }

    }
    .nav__title{
        display: none;
        }
    .nav__li-container {
        height: 100%;
        width: 100%;
        background-color: #000;
        top: -1000px;
        position: relative;
        z-index: 1;
        }
    
    .nav__responsive-li{
        padding: 20px 20px;
        }
    
    .nav__responsive-ul:hover > .nav__li-container{ 
        top: -45px;
        transition: all 1s;
         }    
   


body {
    background: rgb(0,0,0);
}
.caja1 {
    
    background-color: #000;
}

.caja1 div {
    width: 250px;
    height: 250px;
    display: inline-block;
    position: relative;
    margin: 20px;
    

}
.caja1 div img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.caja1 div a {
    position: absolute;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.caja1 div a:link {
    color: rgb(200,200,200);
}
.caja1 div a:visited{
    color: rgb(200,200,200);
}


@media only screen and (max-width: 1250px) {
    .caja1 {
        width: 100%;
    
    }

    .caja1 div {
        height: 100px;
        width: 100px;
        
    }



}